<div class="container pt-5 col-md-4 form">
  <h2 id="edit-h2" class="pb-2">Edit <%= resource_name.to_s.humanize %></h2>

  <!-- form -->
  <div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name, required: true, autofocus: true %>

      <%= f.input :last_name, required: true, autofocus: true %>

      <%= f.input :nickname, required: true, autofocus: true %>

      <%= f.input :age, required: true, collection: 18..68, autofocus: true %>

      <%= f.input :gender, as: :radio_buttons, collection: [['0', 'female'], ['1', 'male'], ['2', 'other']], label_method: :second, value_method: :first %>

      <%= f.input :email, required: true, autofocus: true %>

      <%= f.input :photo, as: :file %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>
  </div>

  <!-- links -->
  <div class="pt-4 pb-5">
    <div class="d-flex justify-content-between">
      <%= link_to "Back", :back, class: "form-links" %>

      <p class="unhappy">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "form-links pl-1" %></p>
    </div>
  </div>
</div>