<div id="card-booking" class="d-flex justify-content-center align-items-center">
  <!-- form calendar -->
  <div class="mr-5">
    <h2 id="calendar-form-h2" class="pb-3">Please choose time</h2>
    <div class="form-actions" style="width: 350px;">
      <%= simple_form_for([@offer, @booking]) do |f| %>
        <%= f.input :start_date, as: :string, required: false, label: "From:", input_html: {class: "datepicker"} %>
        <%= f.input :end_date, as: :string, required: false, label: "To:", input_html: {class: "datepicker"} %>
        <%= f.button :submit, "Book now", class: "btn" %>
      <% end %>
    </div>
  </div>

  <!-- card -->
  <div class="cards ml-5">
    <div id="card-bookings-offer" class="card-advertisement d-flex flex-column justify-content-between p-4">
      <!-- top -->
      <div id="top-card-offer" class="d-flex top-card">
        <%=  cl_image_tag @offer.user.photo.key, :width => 148, :height => 148, :crop => :fill %>
        <div class="top-text-card">
          <h2><%= @offer.category.name %></h2>
          <p><%= @offer.subcategory.name %></p>
          <sub><%= @offer.location %></sub>
        </div>
      </div>
      <!-- bottom -->
      <div class="d-flex bottom-card">
        <div id="card-bottom-left-offer" class="card-bottom-left justify-content-end">
          <p><%= @offer.user.first_name %>, <%= @offer.user.age %></p>
          <p>Member since
            <%= ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"].sample %>
            <%= rand(2015..2020) %>
          </p>
          <p>
            <i class="fa fa-star" style="color: #E7A142;" aria-hidden="true"></i>
              <%= rand(4.0..5).round(2) %> (<%= rand(1..20) %>)
          </p>
        </div>
        <div class="card-bottom-right">
          <p><%= humanized_money_with_symbol(@offer.price) %>/h</p>
        </div>
      </div>
    </div>
  </div>
</div>
