<div class="cards d-flex justify-content-center mb-5">

  <div class="card-advertisement d-flex flex-column mb-5">
    <div class="d-flex top-card">
      <img src=<%= @offer.user.photo %> />
        <div class="top-text-card">
          <h2><%= @offer.category.name %></h2>
          <p><%= @offer.subcategory.name %></p>
          <sub><%= @offer.location %></sub>
        </div>
    </div>
    <div class="d-flex bottom-card">
      <div class="card-bottom-left">
          <p><%= @offer.user.first_name %>, <%= @offer.user.age %></p>
          <p>Member since
             <%= ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"].sample %>
             <%= rand(2015..2020) %>
          </p>
             <!-- <p>&#11088; 4.91 (15)</p> -->
          <p>
             <i class="fa fa-star" style="color: #E7A142;" aria-hidden="true"></i>
              <%= rand(3.0..5).round(2) %> (<%= rand(1..20) %>)
          </p>
      </div>
      <div class="card-bottom-right">
         <p>$<%= @offer.price %>/h</p>
      </div>
    </div>
</div>

<div class="container d-flex justify-content-center mb-5">
    <%= simple_form_for([@offer, @booking]) do |f| %>
        <%= f.input :start_date, label: "From:" %>
        <%= f.input :end_date, label: "To:" %>
        <%= f.button :submit, class: "btn btn-show" %>
    <% end %>
</div>



<!-- <div class="container">
      <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <div id="datetimepicker13"></div>
            </div>
        </div>
      </div>
</div> -->


