<h1>Booking</h1>

<h1><%= @booking.user.first_name %></h1>

<!-- messages display -->
<div id="messages" data-booking-id="<%= @booking.id %>">
  <% @booking.messages.each do |message| %>
    <%= render 'messages/message', message: message %>  
  <% end %>
</div>

<!-- input message -->
<%= simple_form_for [ @booking, @message ], remote: true do |f| %>
  <%= f.input :content, label: false %>
<% end %>
