<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "nav-link nav-logo" do %>
    <%= image_tag "logo_as.png" %>
  <% end %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto pl-3 pr-3">
      <% if user_signed_in? %>
        <!-- <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li> -->
        <!-- <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li> -->
        <% if !current_page?('/offers') %>
          <li class="nav-item">
            <%= link_to "Seniors skills", offers_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "I am a senior", "#", class: "btn-senior" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_session_path, class: "nav-link btn-signup" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link btn-login" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
