<div class="container pt-5 col-md-5 form">
  <h2 class="text-center pb-3">Information about your offer</h2>

  <%= simple_form_for @offer do |f| %>
    <%= f.input :category, collection: Category.categories %>
    <%= f.input :subcategory, collection: Category.subcategories %>
    <%= f.input :location %>
    <%= f.input :description, as: :text %>
    <%= f.input :photo, as: :file %>
    <%= f.input :price, label: "Price (USD/ hour)*" %>
    <div class="form-actions">
      <%= f.button :submit, "Submit information", class: "text-white" %>
    </div>
  <% end %>
</div>
