<div class="checkout-container pt-4">
  <h2 id="checkout-h2" class="pb-3">Checkout</h2>

  <!-- table -->
  <div class="pb-4">
    <div class="divTableHeading">
      <div class="divTableRow">
        <div class="divTableHead">Order <%= rand(56789..98765) %></div>
        <div class="divTableHead"><%= Date.today %></div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell"><strong>Active Senior:</strong><br /> Name: <%= @booking.offer.user.first_name %> <%=  %><br /> Location: <%= @booking.offer.location %> <%=  %></div>
        <div class="divTableCell"><strong>Customer:</strong><br /> Email: <%= @booking.user.email %> <br /></div>
      </div>
    </div>
    <div class="divTableBody">
      <div class="divTableRow">
         <div class="divTableHead"> Category </div>
         <div class="divTableHead"> <%= @booking.offer.category.name %> </div>
      </div>
      <div class="divTableRow">
         <div class="divTableCell"> Subcategory </div>
         <div class="divTableCell"> <%= @booking.offer.subcategory.name %> </div>
      </div>
      <div class="divTableRow">
         <div class="divTableCell"> Date/ Time from </div>
         <div class="divTableCell"> <%= @booking.start_date %> </div>
      </div>
      <div class="divTableRow">
         <div class="divTableCell"> Date / Time to </div>
         <div class="divTableCell"> <%= @booking.end_date %> </div>
      </div>
      <div class="divTableRow">
         <div class="divTableCell"> Hours </div>
         <div class="divTableCell"> <%= @booking.hours.to_i %> </div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell"> Hourly rate </div>
        <div class="divTableCell"> <%= humanized_money_with_symbol(@booking.offer.price) %> </div>
      </div>
    </div>
    <div class="divTableFoot">
      <div class="divTableRow">
        <div class="divTableHead">Subtotal</div>
        <div class="divTableCell"> <%= humanized_money_with_symbol(@booking.subtotal) %></div>
      </div>
      <div class="divTableRow">
        <div class="divTableHead">VAT 20%</div>
        <div class="divTableCell"> <%= humanized_money_with_symbol(@booking.vat) %></div>
      </div>
      <div class="divTableRow">
        <div class="divTableHead">Grand Total</div>
        <div class="divTableCell"><%= humanized_money_with_symbol(@booking.grand_total) %></div>
      </div>
    </div>
  </div>

  <!-- button -->
  <div class="form-actions">
    <%= simple_form_for([@booking, @checkout]) do |f| %>
      <%= f.submit "Proceed to payment", class: "btn" %>
    <% end %>
  </div>
</div>

