<h2><strong><%= offer.subcategory.name %></strong></h2>
<h4><%= offer.user.first_name %>  <%= offer.user.last_name %></h4>
<img src=<%= offer.user.photo %> width=200 />
<h5><%= offer.location %></h5>
