<!-- <p id="notice"><%= notice %></p> -->

<h2>Offers</h2>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><img src=<%= offer.user.photo %> height='200' ></td>
        <td><%= offer.user.first_name %></td>
        <td><%= offer.user.last_name %></td>
        <td><%= offer.user.gender %></td>
        <td><%= offer.user.age %></td>
        <td><%= offer.category.name %></td>
        <td><%= offer.subcategory.name %></td>
        <td><%= offer.description %></td>
        <td><%= offer.price %></td>
        <td><%= link_to "Show", offer %></td>
        <td><%= link_to "Edit", edit_offer_path(offer) %></td>
        <td><%= link_to "Delete", offer, method: :delete, data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Create a new offer", new_offer_path %>

