<!-- <p id="notice"><%= notice %></p> -->

<div id="container-index" class="container">
  <h2 class="h2-index">Choose among <%= Offer.all.count %> experienced seniors in your area.</h2>
  <div class="d-flex">
    <!-- cards -->
    <div id="cards" class="">
      <% @offers.each do |offer| %>
        <%= link_to offer_path(offer) do %>
          <!-- card -->
          <div id="card-advertisement-index" class="card-advertisement d-flex flex-column">
            <!-- top card -->
            <div class="d-flex top-card">
              <!-- top left -->
              <img src=<%= offer.user.photo %> />
              <!-- top right -->
              <div class="top-text-card">
                <!-- <%= link_to offer.category.name, offer_path(offer) %> -->
                <h2><%= offer.category.name %></h2>
                <p><%= offer.subcategory.name %></p>
                <sub><%= offer.location %></sub>
              </div>
            </div>
            <!-- bottom card -->
            <div class="d-flex bottom-card">
              <!-- bottom left -->
              <div class="card-bottom-left">
                <p><%= offer.user.first_name %>, <%= offer.user.age %></p>
                <p>Member since 
                  <%= ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"].sample %> 
                  <%= rand(2015..2020) %>
                </p>
                <p>
                  <i class="fa fa-star" style="color: #E7A142;" aria-hidden="true"></i>
                  <%= rand(3.0..5).round(2) %> (<%= rand(1..20) %>)
                </p>              </div>
              <!-- bottom right -->
              <div class="card-bottom-right">
                <p>$<%= offer.price %>/h</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- map -->
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <%= content_for(:js_before_body) do %>
      <%= javascript_pack_tag "mapbox" %>
    <% end %>
  </div>
</div>








<!-- <h2>Offers</h2>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><img src=<%= offer.user.photo %> height='200' ></td>
        <td><%= offer.user.first_name %></td>
        <td><%= offer.user.last_name %></td>
        <td><%= offer.user.gender %></td>
        <td><%= offer.user.age %></td>
        <td><%= offer.category.name %></td>
        <td><%= offer.subcategory.name %></td>
        <td><%= offer.description %></td>
        <td><%= offer.price %></td>
        <td><%= link_to "Show", offer %></td>
        <td><%= link_to "Edit", edit_offer_path(offer) %></td>
        <td><%= link_to "Delete", offer, method: :delete, data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Create a new offer", new_offer_path %>
 -->
