<div class="container">
  <h2 class="h2-index">Choose among 43 experienced seniors in your area.</h2>
  <!-- card -->
  <div class="d-flex  card-senior p-5">
    <!-- left -->
    <div class="left">
      <img src=<%= @offer.user.photo %> />
      <div class="card-bottom-left">
        <p id="full-name"><%= @offer.user.first_name %> <%= @offer.user.last_name %>, <%= @offer.user.age %></p>
        <p id="member-since">Member since 
          <%= ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"].sample %> 
          <%= rand(2015..2020) %>
        </p>
        <p>
          <i class="fa fa-star" style="color: #E7A142;" aria-hidden="true"></i>
          <%= rand(3.0..5).round(2) %> (<%= rand(1..20) %>)
        </p>              
      </div>
      <div class="about">
        <p>About</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>

    <!-- right -->
    <div class="right">
      <div id="top-right" class="top-text-card">
        <h2 id="category-h2"><%= @offer.category.name %></h2>
        <p id="subcategory-p"><%= @offer.subcategory.name %></p>
      </div>
    </div>
    </div>
  </div>
</div>





<!-- modals -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Read Reviews
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reviews</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-dialog modal-dialog-scrollable">
          Lorem ipsum dolor sit amet, sit eius alienum concludaturque cu, tempor dolorum no duo. Torquatos consequuntur his ea. Te prima mnesarchum pri, eu rationibus instructior mei. Tation perfecto sententiae in mei.
          <br>
          Et magna elaboraret his. Dicat quaestio contentiones nec ut, te nam modo noster conclusionemque, electram constituto vis ex. Laudem senserit his ex. Lucilius perfecto usu ne, pro habeo aliquam sententiae ex.
          <br>
          Modo blandit sea ad, ex volutpat similique cum. Nobis saperet quo ne. Natum perpetua consectetuer ut eum, usu et facer omnesque. Sea id porro qualisque, est ex eros tamquam, prima oblique vel at.
        </div>
      </div>
    </div>
  </div>
</div>



<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1" data-whatever="Active Senior">Send a Message</button>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div> -->
