<div class="container">
  <h2 class="h2-index">Choose your Active Senior</h2>
  <!-- card section -->
  <div class="d-flex  card-senior p-5">
    <!-- left -->
    <div class="left">
      <%=  cl_image_tag @offer.user.photo.key, :width => 700, :height => 700, :crop => :fill %>
      <div class="card-bottom-left">
        <!-- name -->
        <p id="full-name"><%= @offer.user.first_name %> <%= @offer.user.last_name %>, <%= @offer.user.age %></p>
        <!-- member since -->
        <p id="member-since">Member since
          <%= ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"].sample %>
          <%= rand(2015..2020) %>
        </p>
        <!-- reviews button -->
        <div class="mt-3">
          <!-- rating -->
          <p class="rating" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-star" style="color: #E7A142;" aria-hidden="true"></i>
            <%= rand(4.0..5).round(2) %> (<%= rand(1..20) %>)
          </p>
          <!-- modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Reviews</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <!-- form review -->
                    <div>
                      <%= simple_form_for [ @offer, @review ] do |f| %>
                        <%= f.input :rating, collection: 1..5 %>
                        <%= f.input :feedback, as: :text, label: :Review %>
                        <%= f.button :submit, "Submit a review", class: "form-actions btn-submit-review mb-3" %>
                      <% end %>
                    </div>
                    <!-- users reviews -->
                    <div>
                      <% if @offer.reviews.blank? %>
                        <p style="color: #818080;">
                          Be the first to leave a review for <%= @offer.user.first_name %>
                        </p>
                      <% else %>
                        <% @offer.reviews.each do |review| %>
                          <div class="mt-4 mb-4">
                            <p class="mb-0">
                              <%= content_tag( :i, '', :class=>'fa fa-star', :style=>'color: #E7A142') * review.rating %>
                            </p>
                            <p style="color: #3a3a3a;"><%= review.feedback %></p>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about">
        <p>About</p>
        <p><%=@offer.description%></p>
      </div>
    </div>
    <!-- right -->
    <div class="right">
      <div id="top-right" class="top-text-card">
        <h2 id="category-h2"><%= @offer.category.name %></h2>
        <p id="subcategory-p"><%= @offer.subcategory.name %></p>
      </div>
      <div class="availability">
        <p>Availability</p>
        <p>Monday to Friday from 3:00PM to 7:00PM. <br>
        Saturdays from 9:00AM until noon.
      </p>
      </div>
      <div class="price">
        <!-- <p>Price</p> -->
        <!-- offer price -->
        <div>
          <p id="price-p"><%= humanized_money_with_symbol(@offer.price) %>/h</p>
        </div>
        <div class="mt-3 d-flex justify-content-end">
          <!-- booking button -->
          <div>
            <!-- button -->
            <div class="btn btn-show" >
                <%= link_to "Book now", new_offer_booking_path(@offer), class: "text-white" %>
            </div>
          </div>
        </div>
      </div>
      <div class="location">
        <p>Location</p>
        <sub><%= @offer.location %></sub>
      </div>
      <!-- map -->
      <div id="show-map"
        data-markers="<%= [@marker].to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <%= content_for(:js_before_body) do %>
        <%= javascript_pack_tag "mapbox" %>
      <% end %>
    </div>

  </div>
</div>

<!-- more active seniors section -->
<div>
  <h2 class="top-seniors-h2">More Active Seniors near you</h2>

  <!-- cards -->
  <div class="cards d-flex justify-content-center mb-5">
    <% @offers.each do |offer| %>
      <%= link_to offer_path(offer) do %>
        <!-- card -->
        <div class="card-advertisement d-flex flex-column mb-5">
          <!-- top card -->
          <div class="d-flex top-card">
            <!-- top left -->
            <%=  cl_image_tag offer.user.photo.key, :width => 148, :height => 148, :crop => :fill %>
            <!-- top right -->
            <div class="top-text-card">
              <!-- <%= link_to offer.category.name, offer_path(offer) %> -->
              <h2><%= offer.category.name %></h2>
              <p><%= offer.subcategory.name %></p>
              <sub><%= offer.location %></sub>
            </div>
          </div>
          <!-- bottom card -->
          <div class="d-flex bottom-card">
            <!-- bottom left -->
            <div class="card-bottom-left">
              <p><%= offer.user.first_name %>, <%= offer.user.age %></p>
              <p>Member since
                <%= ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"].sample %>
                <%= rand(2015..2020) %>
              </p>
              <!-- <p>&#11088; 4.91 (15)</p> -->
              <p>
                <i class="fa fa-star" style="color: #E7A142;" aria-hidden="true"></i>
                <%= rand(4.0..5).round(2) %> (<%= rand(1..20) %>)
              </p>
            </div>
            <!-- bottom right -->
            <div class="card-bottom-right">
              <p><%= humanized_money_with_symbol(@offer.price) %>/h</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'geolocation', defer: true %>
